<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenplanner - Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/ZenPlanner_favicon.png' %}" type="image/png">
</head>
<body>
    <header>
        <h1>Bienvenido a Zenplanner</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
    </nav>
    <div class="container">
        <h2>Página de Inicio</h2>
        <p>Esta es la página de inicio de Zenplanner.</p>
        <a href="/google-login/">
            <button>Autenticar con Google</button>
        </a>
    </div>
    <footer>
        <p>&copy; 2024 Zenplanner. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
